<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>controladorProfesorIndex</servlet-name>
		<servlet-class>controlador.profesor.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorIndex</servlet-name>
		<url-pattern>/profesor</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorProfesorInsertar</servlet-name>
		<servlet-class>controlador.profesor.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorInsertar</servlet-name>
		<url-pattern>/profesor/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorProfesorEliminar</servlet-name>
		<servlet-class>controlador.profesor.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorEliminar</servlet-name>
		<url-pattern>/profesor/eliminar</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorProfesorModificar</servlet-name>
		<servlet-class>controlador.profesor.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorModificar</servlet-name>
		<url-pattern>/profesor/modificar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorAlumnoIndex</servlet-name>
		<servlet-class>controlador.alumno.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAlumnoIndex</servlet-name>
		<url-pattern>/alumno</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorAlumnoInsertar</servlet-name>
		<servlet-class>controlador.alumno.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAlumnoInsertar</servlet-name>
		<url-pattern>/alumno/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorAlumnoEliminar</servlet-name>
		<servlet-class>controlador.alumno.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAlumnoEliminar</servlet-name>
		<url-pattern>/alumno/eliminar</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorAlumnoModificar</servlet-name>
		<servlet-class>controlador.alumno.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAlumnoModificar</servlet-name>
		<url-pattern>/alumno/modificar</url-pattern>
	</servlet-mapping>
			<servlet>
		<servlet-name>controladorAlumnoCarrera</servlet-name>
		<servlet-class>controlador.alumno.alumnoCarrera</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAlumnoCarrera</servlet-name>
		<url-pattern>/alumno/carrera</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>controladorCarreraIndex</servlet-name>
		<servlet-class>controlador.carrera.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCarreraIndex</servlet-name>
		<url-pattern>/carrera</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorCarreraInsertar</servlet-name>
		<servlet-class>controlador.carrera.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCarreraInsertar</servlet-name>
		<url-pattern>/carrera/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorCarreraEliminar</servlet-name>
		<servlet-class>controlador.carrera.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCarreraEliminar</servlet-name>
		<url-pattern>/carrera/eliminar</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorCarreraModificar</servlet-name>
		<servlet-class>controlador.carrera.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCarreraModificar</servlet-name>
		<url-pattern>/carrera/modificar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorCursoIndex</servlet-name>
		<servlet-class>controlador.curso.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCursoIndex</servlet-name>
		<url-pattern>/curso</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorCursoInsertar</servlet-name>
		<servlet-class>controlador.curso.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCursoInsertar</servlet-name>
		<url-pattern>/curso/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorCursoEliminar</servlet-name>
		<servlet-class>controlador.curso.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCursoEliminar</servlet-name>
		<url-pattern>/curso/eliminar</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorCursoModificar</servlet-name>
		<servlet-class>controlador.curso.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCursoModificar</servlet-name>
		<url-pattern>/curso/modificar</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>controladorCursoCarrera</servlet-name>
		<servlet-class>controlador.curso.cursoCarrera</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorCursoCarrera</servlet-name>
		<url-pattern>/curso/carrera</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorAdministradorIndex</servlet-name>
		<servlet-class>controlador.administrador.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAdministradorIndex</servlet-name>
		<url-pattern>/administrador</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorAdministradorInsertar</servlet-name>
		<servlet-class>controlador.administrador.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAdministradorInsertar</servlet-name>
		<url-pattern>/administrador/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorAdministradorEliminar</servlet-name>
		<servlet-class>controlador.administrador.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAdministradorEliminar</servlet-name>
		<url-pattern>/administrador/eliminar</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorAdministradorModificar</servlet-name>
		<servlet-class>controlador.administrador.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAdministradorModificar</servlet-name>
		<url-pattern>/administrador/modificar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorNotaIndex</servlet-name>
		<servlet-class>controlador.nota.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorNotaIndex</servlet-name>
		<url-pattern>/nota</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorNotaInsertar</servlet-name>
		<servlet-class>controlador.nota.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorNotaInsertar</servlet-name>
		<url-pattern>/nota/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorNotaEliminar</servlet-name>
		<servlet-class>controlador.nota.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorNotaEliminar</servlet-name>
		<url-pattern>/nota/eliminar</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorNotaModificar</servlet-name>
		<servlet-class>controlador.nota.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorNotaModificar</servlet-name>
		<url-pattern>/nota/modificar</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>controladorNotaCarrera</servlet-name>
		<servlet-class>controlador.nota.notaCarrera</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorNotaCarrera</servlet-name>
		<url-pattern>/nota/carrera</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>controladorNotaCarreraCurso</servlet-name>
		<servlet-class>controlador.nota.notaCarreraCurso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorNotaCarreraCurso</servlet-name>
		<url-pattern>/nota/carrera/curso</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>controladorAlumnoMiNota</servlet-name>
		<servlet-class>controlador.alumno.miNota</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAlumnoMiNota</servlet-name>
		<url-pattern>/alumno/miNota</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>controladorProfesorMisCursos</servlet-name>
		<servlet-class>controlador.profesor.misCursos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorMisCursos</servlet-name>
		<url-pattern>/profesor/misCursos</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>controladorProfesorMisCursosNota</servlet-name>
		<servlet-class>controlador.profesor.misCursosNota</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorMisCursosNota</servlet-name>
		<url-pattern>/profesor/misCursos/nota</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
